# 0. Presentación

En este cuaderno se realiza la etapa del ***Proceso KDD de Preproceso de Datos*** en este caso, aplicándola sobre el conjunto de datos de la OMS, para el análisis de datos en su vertiente de estudiar cuales son las causas de la expansión de las enfermedades infecciosas en la sociedad.

# 1. Librerías

Antes de iniciar cualquier tarea debemos de asegurarnos de que las librerías que sean necesarias están correctamente importadas.

In [ ]:
# Carga y manipulación de datos
from google.colab import files
import io
 
# Librería para manipular DataFrames
import pandas as pd

# 2. Carga de datos

El primer paso es subir todos los archivos CSV que sean necesarios para llevar a cabo este proceso. En este caso cargamos la base de datos de la OMS tras pasar el proceso de selección de datos. Para ello utilizaremos las herramientas que nos ofrece Google Colab a la hora de subir archivos.

In [ ]:
data = pd.read_csv('oms_data.csv', index_col = ['Pais'])
data = data.drop(['Unnamed: 0'], axis=1)
data

                                    Total Fallecidos Vias Respiratorias  ...  Muertes debido al agua, saneamiento e higiene en niños menores de 5 años
Pais                                                                     ...
Afghanistan                                                      342325  ...                                            62200.0
Albania                                                            1709  ...                                              116.0
Algeria                                                           57438  ...                                             3139.0
Andorra                                                               0  ...                                                0.0
Angola                                                           477166  ...                                            37920.0
...                                                                 ...  ...                                                ...
Venezuela (Bolivarian Republic of)                                21296  ...                                              857.0
Viet Nam                                                         101760  ...                                             4905.0
Yemen                                                            181798  ...                                            12890.0
Zambia                                                           150437  ...                                            10541.0
Zimbabwe                                                         101731  ...                                             4371.0

[194 rows x 34 columns]

# 3. Preproceso de datos

El objetivo de este preproceso es calcular la variable objetivo del dataset, borrar columnas con información no útil o ambigua y el tratamiento de valores vacíos, entre otros cometidos.

## Cálculo de la variable de fallecimientos por enfermedades infecciosas

Lo primero de todo, es determinar cual va a ser la variable fallecimientos por enfermedades infecciosas con la que se trabajará a lo largo de este estudio. Esta variable será la media de la totalidad de niños fallecidos por todas las enfermedades infecciosas de las que ofrece datos OMS, que son las siguientes enfermedades infecciosas:

* Enfermedades que causan infecciones en las vías respiratorias
* Sepsis
* Meningitis y Encefalitis
* Malaría 
* Sarampión
* VIH
* Diarrea

La OMS ofrece datos desde el año 2000 hasta el 2017.

In [ ]:
data['Media Fallecidos Enf. Infecciosas'] = (data['Media Fallecidos Vias Respiratorias'] + 
                                             data['Media Fallecidos Sepsis'] + 
                                             data['Media Fallecidos Meningitis Encefalitis'] + 
                                             data['Media Fallecidos Malaria'] + 
                                             data['Media Fallecidos Sarampion'] + 
                                             data['Media Fallecidos VIH'] + 
                                             data['Media Fallecidos Diarrea']) / 7
data

                                    Total Fallecidos Vias Respiratorias  ...  Media Fallecidos Enf. Infecciosas
Pais                                                                     ...
Afghanistan                                                      342325  ...                        6551.873016
Albania                                                            1709  ...                          19.817460
Algeria                                                           57438  ...                        1026.865079
Andorra                                                               0  ...                           0.000000
Angola                                                           477166  ...                       10195.611111
...                                                                 ...  ...                                ...
Venezuela (Bolivarian Republic of)                                21296  ...                         476.246032
Viet Nam                                                         101760  ...                        1738.063492
Yemen                                                            181798  ...                        3168.936508
Zambia                                                           150437  ...                        4199.134921
Zimbabwe                                                         101731  ...                        2921.952381

[194 rows x 35 columns]

## Borrado de columnas ineccesarias

Después de calcular la variable objetivo, se procede al borrado de las columnas de la media y el total de muertes de niños a causa de enfermedades infecciosas.

In [ ]:
lista_borrar = ["Total Fallecidos Vias Respiratorias", "Media Fallecidos Vias Respiratorias", 
                "Total Fallecidos Sepsis", "Media Fallecidos Sepsis", 
                "Total Fallecidos Meningitis Encefalitis", "Media Fallecidos Meningitis Encefalitis", 
                "Total Fallecidos Malaria", "Media Fallecidos Malaria", 
                "Total Fallecidos Sarampion", "Media Fallecidos Sarampion", 
                "Total Fallecidos VIH", "Media Fallecidos VIH", 
                "Total Fallecidos Diarrea", "Media Fallecidos Diarrea"]

data = data.drop(lista_borrar,axis=1)

In [ ]:
data

                                    Vacunación contra la poliomielitis entre los niños de 1 año (%)  ...  Media Fallecidos Enf. Infecciosas
Pais                                                                                                 ...
Afghanistan                                                                 37.975610                ...                        6551.873016
Albania                                                                     93.975610                ...                          19.817460
Algeria                                                                     78.536585                ...                        1026.865079
Andorra                                                                     54.268293                ...                           0.000000
Angola                                                                      28.048780                ...                       10195.611111
...                                                                               ...                ...                                ...
Venezuela (Bolivarian Republic of)                                          73.073171                ...                         476.246032
Viet Nam                                                                    75.365854                ...                        1738.063492
Yemen                                                                       51.024390                ...                        3168.936508
Zambia                                                                      73.292683                ...                        4199.134921
Zimbabwe                                                                    75.585366                ...                        2921.952381

[194 rows x 21 columns]

## Tratamiento valores vacíos

Consultamos que columnas de las existentes en el dataframe posee algún valor vacío.

In [ ]:
pd.isnull(data).any()

Vacunación contra la poliomielitis entre los niños de 1 año (%)                          False
Vacunación de antineumocócicas conjugadas en niños de 1 año (%)                           True
Vacunación de la primera dosis contra el sarampión (%)                                   False
Vacunación de la segunda dosis contra el sarampión (%)                                    True
Vacunación contra la hepatitis B entre los niños de 1 año (%)                             True
Vacunación contra Hib entre niños de 1 año (%)                                            True
Vacunación contra la tos ferina y el toxoide tetánico diftérico en niños de 1 año (%)    False
Vacunación con BCG en niños de 1 año (%)                                                  True
Centros de salud (Densidad por 100000 hab.)                                               True
Hospitales (Densidad por 100000 hab.)                                                     True
Doctores medicos (por 10000 hab.)                                                         True
Enfermeros y personal de parto (por 10000 hab.)                                           True
Farmaceuticos (por 10000 hab.)                                                            True
Camas de hospital (por 10000 hab.)                                                        True
Niños con bajo peso al nacer(%)                                                           True
Prevalencia de anemia en niños menores de 5 años (%)                                      True
Niños amamantados en sus primeros 6 meses de vida (%)                                     True
Concentracion de partículas finas (polucion) en el aire                                  False
DALY debido al agua, saneamiento e higiene en niños menores de 5 años                     True
Muertes debido al agua, saneamiento e higiene en niños menores de 5 años                  True
Media Fallecidos Enf. Infecciosas                                                        False
dtype: bool

Rellenamos los valores vacíos usando la media de esa columna. Después, comprobamos que ya no tenemos valores vacíos.

In [ ]:
data.fillna(data.mean(), inplace=True)
pd.isnull(data).any()

Vacunación contra la poliomielitis entre los niños de 1 año (%)                          False
Vacunación de antineumocócicas conjugadas en niños de 1 año (%)                          False
Vacunación de la primera dosis contra el sarampión (%)                                   False
Vacunación de la segunda dosis contra el sarampión (%)                                   False
Vacunación contra la hepatitis B entre los niños de 1 año (%)                            False
Vacunación contra Hib entre niños de 1 año (%)                                           False
Vacunación contra la tos ferina y el toxoide tetánico diftérico en niños de 1 año (%)    False
Vacunación con BCG en niños de 1 año (%)                                                 False
Centros de salud (Densidad por 100000 hab.)                                              False
Hospitales (Densidad por 100000 hab.)                                                    False
Doctores medicos (por 10000 hab.)                                                        False
Enfermeros y personal de parto (por 10000 hab.)                                          False
Farmaceuticos (por 10000 hab.)                                                           False
Camas de hospital (por 10000 hab.)                                                       False
Niños con bajo peso al nacer(%)                                                          False
Prevalencia de anemia en niños menores de 5 años (%)                                     False
Niños amamantados en sus primeros 6 meses de vida (%)                                    False
Concentracion de partículas finas (polucion) en el aire                                  False
DALY debido al agua, saneamiento e higiene en niños menores de 5 años                    False
Muertes debido al agua, saneamiento e higiene en niños menores de 5 años                 False
Media Fallecidos Enf. Infecciosas                                                        False
dtype: bool

## Redondeo de decimales

Redondeamos los decimales a simplemente 2, ya que se considera que aporta la misma información y no es un cambio relevante.

In [ ]:
data = data.round(2)
data

                                    Vacunación contra la poliomielitis entre los niños de 1 año (%)  ...  Media Fallecidos Enf. Infecciosas
Pais                                                                                                 ...
Afghanistan                                                                     37.98                ...                            6551.87
Albania                                                                         93.98                ...                              19.82
Algeria                                                                         78.54                ...                            1026.87
Andorra                                                                         54.27                ...                               0.00
Angola                                                                          28.05                ...                           10195.61
...                                                                               ...                ...                                ...
Venezuela (Bolivarian Republic of)                                              73.07                ...                             476.25
Viet Nam                                                                        75.37                ...                            1738.06
Yemen                                                                           51.02                ...                            3168.94
Zambia                                                                          73.29                ...                            4199.13
Zimbabwe                                                                        75.59                ...                            2921.95

[194 rows x 21 columns]

# 4. Exportación de datos 

Por último, convertimos el dataframe en un archivo CSV, para poder descargarlo.

In [ ]:
data.to_csv('oms_data_preprocesado.csv')